* {
  box-sizing: border-box;
}4

body {
  background-position: center center;
  background-color: white;
  /*173753*/
}

.wrapper {
  width: 550px;
  margin: 5% auto;
}

form {
  margin-top: 12%;
}

.form-area {
  display: flex;
  background: #0a5568;
  border-radius: 25px;
  padding: 1.9em;
}

.desc-area {
  display: flex;
  flex-direction: column;
  order: 2;
}

.desc-area > textarea {
  flex: 1;
  min-width: 18em;
  background: transparent;
  color: #fff;
}

.details-area {
  flex: 1;
}

.details-area input {
  width: 100%;
  background: transparent;
  color: #fff;
  border-radius: 40px;
}

.details-area input,
.details-area button {
  padding: 1em;
  margin-bottom: 1em;
}

.details-area button {
  color: #fff;
  border: 0;
  padding: 15px 50px;
  background: tomato;
  border-radius: 40px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
}

label {
  color: #82a3a1;
  line-height: 40px;
  font-family: audiohead;
}

input[type="file"] {
  align-items: center;
  text-align: center !important;
  padding-left: 35%;
}

.image-input {
  align-items: center;
}

@media (max-width: 960px) {
  .wrapper {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 400px;
  }
  input[type="file"] {
    padding-left: 28%;
  }
}
@media (max-width: 576px) {
  .wrapper {
    width: 350px;
  }
  input[type="file"] {
    padding-left: 25%;
  }
}

@media (max-width: 392px) {
  .wrapper {
    width: 256px;
  }
  .desc-area > textarea {
    min-width: 15em;
  }
  input[type="file"] {
    padding-left: 15px;
  }
}

/* #114B5F,#1A936F, 88D498,C6DABF, F3E9D2*/
/*F3CA40 F08A4B F2A541 */
