.input-border-style {
  border: 1px solid #114b5f;
  width: 15em;
}

div.form {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenlys;
  align-items: center;
  margin-top: 25%;
}
