* {
  margin: 0;
  padding: 0;
}

nav div {
  width: 100%;
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding-left: 1;
  align-self: center;
}

ul li {
  display: inline;
}

.nav-items {
  background-color: darkorange;
  width: 100%;
}
.navbar-btn {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: none;
  background-color: darkorange;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-items:hover {
  background-color: orange;
  list-style: none;
  text-decoration: none;
}
button {
  border: none;
}
div button {
  border-radius: none;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
  .toggle {
    display: none;
  }
  .crep-check-btn {
    text-align: start;
    padding-left: 1em;
  }
  .signup-btn {
    text-align: end;
    padding-right: 1em;
  }
}
