* {
  margin: 0;
  padding: 0;
}
.nav-links {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: blue;
}
li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.signup-btn {
  margin-right: 1em;
}

.home-btn {
  margin-left: 1em;
}

@media (max-width: 576px) {
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .home-btn {
    margin-left: 0;
  }
  .signup-btn {
    margin-right: 0;
  }
  a:hover {
  }
}
